@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css";
@font-face {
  font-family: LINESeedKR-Bd;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2)
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: LINESeedKR-Rg;
  src: url(https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot);
  src: url(https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff)
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: LINESeedKR-Th;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2)
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
    Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
  width: 100vw;
}

input {
  padding: 8px 14px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #aaa;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
}
